table {
    border-collapse: collapse;
    width: 40%;
    margin: auto;
}

table, th, td {
    border: 1px solid black;
}

td.edit, td.delete {
    width: 1%;
}

a.add {
    display: block;
    text-align: center;
}