<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Countries</title>
    <link rel="stylesheet" href="../admin.css">
</head>
<body>
    <a class="add" href="countries/add">Add new</a>
    <table>
        <tr>
            <th>Country</th>
            <th></th>
            <th></th>
        <tr>
        <tr th:each="country : ${countries}">
            <td th:text="${country.name}"/>
            <td class="edit">
                <a th:href="'countries/' + ${country.id} + '/edit'">&#128393;</a>
            </td>
            <td class="delete">
                <a th:href="'countries/' + ${country.id} + '/delete'">&#10008;</a>
            </td>
        <tr>
    </table>
</body>
</html>