<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Films</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <a id="admin" href="admin">Admin</a>
        <div class="center">
            <form id="search" action="films"></form>
            <div class="search">
                <input type="text" name="str" form="search" placeholder="&#128269;" th:value="${search}">
            </div>
            <div class="search_extra">
                <div>
                    <span>Год:</span>
                    <label th:each="year : ${allYears}" th:attrappend="style=${years.contains(year)}?'text-decoration:underline'">
                        <input type="checkbox" th:name="'year_'+${year}" class="search_extra_opt" form="search"
                               th:attrappend="checked=${years.contains(year)}?checked"
                               onclick="this.parentNode.style.textDecoration=this.checked ? 'underline' : 'none';">
                        [[${year}]]
                    </label>
                </div>
                <div>
                    <span>Жанр:</span>
                    <label th:each="genre : ${allGenres}" th:attrappend="style=${genres.contains(genre)}?'text-decoration:underline'">
                        <input type="checkbox" th:name="'genre_'+${genre}" class="search_extra_opt" form="search"
                               th:attrappend="checked=${genres.contains(genre)}?checked"
                               onclick="this.parentNode.style.textDecoration=this.checked ? 'underline' : 'none';">
                        [[${genre}]]
                    </label>
                </div>
            </div>
            <div class="wall">
                <div th:each="film : ${films}">
                    <span class="title">Название: </span><span th:text="${film.name}"/><br>
                    <span class="title">Год: </span><span th:text="${film.year}"/><br>
                    <span class="title">Жанр: </span><span th:text="${film.genre != null ? film.genre : ''}"/><br>
                    <span class="title">Киностудия: </span><span th:text="${film.factory != null ? film.factory.name : ''}"/><br>
                    <span class="title">Режиссер: </span><span th:text="${film.producer != null ? film.producer.name : ''}"/><br>
                    <span class="title">Актеры: </span><span th:text="${film.starsToString()}"/><br>
                    <hr>
                </div>
            </div>
        </div>
    </body>
</html>