<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Film</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="center">
        <div class="wall">
            <div class="title" th:text="${film.name}"/>
            <div><img th:src="'/film/' + ${film.id} + '/image'" alt="Image not loaded" width="350px" height="500px"></div>
            <span class="title">Год: </span><span th:text="${film.year}"/><br>
            <span class="title">Жанр: </span><span th:text="${film.genre != null ? film.genre : ''}"/><br>
            <span class="title">Киностудия: </span><span th:text="${film.factory != null ? film.factory.name : ''}"/><br>
            <span class="title">Режиссер: </span><span th:text="${film.producer != null ? film.producer.name : ''}"/><br>
            <span class="title">Актеры: </span><span th:text="${film.starsToString()}"/><br>
            <span class="title">Описание: </span>
            <div class="description" th:text="${film.description}"/>
        </div>
    </div>
</body>
</html>