<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Films</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    </head>
    <body>
        <a href="https://github.com/vatarasov/demodb">
            <img id="fork-me" src="https://camo.githubusercontent.com/82b228a3648bf44fc1163ef44c62fcc60081495e/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png">
        </a>
        <a id="admin" href="admin">Admin</a>
        <div class="center">
            <form id="search" action="films">
                <input type="submit" id="search_btn">
            </form>
            <div class="search">
                <input type="text" name="str" form="search" placeholder="&#128269;" th:value="${search}">
            </div>
            <div class="search_extra">
                <div>
                    <span>Год:</span>
                    <label th:each="year : ${allYears}" th:attrappend="style=${years.contains(year)}?'text-decoration:underline'">
                        <input type="checkbox" th:name="'year_'+${year}" class="search_extra_opt" form="search"
                               th:attrappend="checked=${years.contains(year)}?checked"
                               onclick="this.parentNode.style.textDecoration=this.checked ? 'underline' : 'none';document.getElementById('search_btn').click();">
                        [[${year}]]
                    </label>
                </div>
                <div>
                    <span>Жанр:</span>
                    <label th:each="genre : ${allGenres}" th:attrappend="style=${genres.contains(genre)}?'text-decoration:underline'">
                        <input type="checkbox" th:name="'genre_'+${genre}" class="search_extra_opt" form="search"
                               th:attrappend="checked=${genres.contains(genre)}?checked"
                               onclick="this.parentNode.style.textDecoration=this.checked ? 'underline' : 'none';document.getElementById('search_btn').click();">
                        [[${genre}]]
                    </label>
                </div>
            </div>
            <div class="wall">
                <div th:each="film : ${films}">
                    <div><img th:src="'/film/' + ${film.id} + '/image'" alt="Image not loaded" width="175px" height="250px"></div>
                    <span class="title">Название: </span><span th:text="${film.name}"/><br>
                    <span class="title">Год: </span><span th:text="${film.year}"/><br>
                    <span class="title">Жанр: </span><span th:text="${film.genre != null ? film.genre : ''}"/><br>
                    <span class="title">Киностудия: </span><span th:text="${film.factory != null ? film.factory.name : ''}"/><br>
                    <span class="title">Режиссер: </span><span th:text="${film.producer != null ? film.producer.name : ''}"/><br>
                    <span class="title">Актеры: </span><span th:text="${film.starsToString()}"/><br>
                    <div class="more"><a th:href="'film/' + ${film.id}">More...</a></div>
                    <hr>
                </div>
            </div>
        </div>
    </body>
</html>