<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Factory</title>
</head>
<body>
    <form method="post">
        Factory name:
        <input type="text" name="name" required><br>
        Country:
        <select name="country">
            <option value="null"></option>>
            <option th:each="country : ${countries}" th:value="${country.id}" th:text="${country.name}"/>
        </select><br>
        <input type="submit" value="Add">
    </form>
</body>
</html>